@font-face {
  font-family: "Chivo Mono";
  src: url(../static/ChivoMono-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Chivo Mono";
}

body {
  height: 100vh;
  /* background-image: url(../static/background.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

form {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 18px;
  right: 18px;
}

.error {
  border-top: 1px solid white;
  color: red;
  padding-top: 6px;
}

input {
  height: 24px;
  width: 275px;
  font-size: 1.125rem;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #4e4e4e3d;
  color: white;
  font-family: "Chivo Mono";
}

input::placeholder {
  color: white;
}

.report {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  top: 18px;
  left: 36px;
  font-size: 1.5rem;
  text-shadow: 1px 2px 3px #373434;
}

.city {
  font-size: 3.5rem;
  font-weight: bold;
}

.icon {
  position: absolute;
  left: 0;
}

.weather {
  font-size: 2.25rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}

.main {
  margin-left: 108px;
}

.temp {
  font-size: 8.25rem;
  font-weight: bold;
  cursor: pointer;
}

.lil-gui {
  top: 65px !important;
  right: 18px !important;
}

.webgl {
  position: fixed;
}

.control-btn {
  position: fixed;
  bottom: 18px;
  right: 18px;
  font-size: 1rem;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 1px 2px 3px #373434;
}

@media screen and (max-width: 1024px) {
  input {
    font-size: 1rem;
    padding: 6px 20px;
    width: 220px;
  }

  .report {
    font-size: 1.2rem;
  }

  .city {
    font-size: 2.8rem;
  }

  .weather {
    font-size: 1.8rem;
  }

  .temp {
    font-size: 6.6rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
    position: static;
    z-index: 1;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  input {
    font-size: 1rem;
    padding: 4px 16px;
  }

  .report {
    position: static;
    z-index: 1;
    font-size: 1.2rem;
    text-align: center;
  }

  .city {
    font-size: 2.25rem;
  }

  .weather {
    font-size: 1.5rem;
  }

  .temp {
    font-size: 5.3rem;
  }

  .lil-gui {
    top: 0 !important;
    right: calc(50% - 122.5px) !important;
    /* font-size: 10px !important; */
  }
}

@media screen and (max-width: 425px) {
  input {
    font-size: 1rem;
  }

  .report {
    font-size: 1rem;
  }

  .city {
    font-size: 1.8rem;
  }

  .weather {
    font-size: 1.2rem;
  }

  .temp {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 375px) {
  .icon {
    width: 75px;
  }

  .main {
    margin-left: 83px;
  }
}

@media screen and (max-width: 320px) {
  .icon {
    width: 75px;
  }

  .main {
    margin-left: 83px;
  }
}
